<section class="text-black">
  <h1 class="text-2xl font-semibold mb-3 w-full border-b text-center">
    Sepetim
  </h1>
  <div
    *ngIf="basketInThings.length > 0; else emptyBasket"
    class="w-[500px] md:h-[630px] h-[400px] overflow-y-auto flex-col flex gap-y-3"
  >
    <div
      *ngFor="let basket of basketInThings"
      class="grid grid-cols-3 justify-between border group relative border-gray-400 cursor-pointer transition-all bg-white rounded-md p-2"
    >
      <div class="col-span-2">
        <h3 class="text-lg font-semibold" *ngIf="basket.menu; else product">
          {{ basket.menu.name }}
        </h3>
        <ng-template #product>
          <h3 class="text-lg font-semibold">{{ basket.product.name }}</h3>
        </ng-template>
        <p class="text-sm" *ngIf="basket.menu; else productDesc">
          {{ basket.menu.description }}
        </p>
        <ng-template #productDesc>
          <p class="text-sm">{{ basket.product.description }}</p>
        </ng-template>
      </div>
      <div class="w-full h-full col-span-1">
        <img
          [src]="
            basket.product
              ? productPath + basket.productImage.imagePath
              : menuPath + basket.menuImage.imagePath
          "
          alt=""
          class="rounded-md object-cover h-[50px] w-full"
        />
      </div>
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-x-3">
          <button
            (click)="decrementQuantity(basket)"
            class="p-1 hover:bg-orange-100 rounded-full transition-all"
          >
            <lucide-icon
              name="minus"
              class="text-orange-500 text-sm"
            ></lucide-icon>
          </button>
          <span class="font-semibold">{{ basket.quantity }}</span>
          <button
            (click)="incrementQuantity(basket)"
            class="p-1 hover:bg-orange-100 rounded-full"
          >
            <lucide-icon
              name="plus"
              class="text-orange-500 text-sm"
            ></lucide-icon>
          </button>
        </div>
        <div>
          <h3>
            ₺
            {{
              (basket.product ? basket.product.unitPrice : 0) *
                basket.quantity +
                (basket.menu ? basket.menu.totalPrice : 0) * basket.quantity
            }}
          </h3>
        </div>
      </div>
    </div>
  </div>
  <ng-template #emptyBasket>
    <div class="w-[300px] h-[200px] text-center">
      <h1 class="text-lg font-semibold text-orange-500 mt-10">
        Sepetiniz Boş Görünüyor
      </h1>

      <p class="text-sm">Hemen Mükemmel Lezzetleri Keşfedin</p>
    </div>
  </ng-template>
  <div class="mt-3 px-5 text-white">
    <button
      *ngIf="basketInThings.length > 0"
      class="p-1 w-full bg-orange-400 hover:bg-orange-500 font-semibold text-lg rounded-t-xl"
    >
      Sepeti Onayla |
      <span class="text-yellow-200"> ₺{{ totalAmount }} </span>
    </button>
    <button
      *ngIf="basketInThings.length === 0"
      class="p-1 w-full bg-orange-400 hover:bg-orange-500 font-semibold text-lg rounded-t-xl"
    >
      Geri Dön
    </button>
  </div>
</section>
