<h1 class="text-3xl font-semibold mb-3">Mutfaklar</h1>
<section class="flex gap-x-3 overflow-x-auto">
  <div class="rounded-md bg-gray-100 p-1 w-fit group cursor-pointer shrink-0">
    <div class="inline-flex overflow-hidden">
      <img
        src="https://cdn.yemek.com/mnresize/940/940/uploads/2020/04/lahmacun-yeni-one-cikan.jpg"
        class="rounded-md w-[100px] h-[100px] group-hover:scale-105 transition-all"
        alt=""
      />
    </div>
    <span class="flex justify-center items-center font-semibold">Lahmacun</span>
  </div>
  <div class="rounded-md bg-gray-100 p-1 w-fit group cursor-pointer shrink-0">
    <div class="inline-flex overflow-hidden">
      <img
        src="https://media.timeout.com/images/105726905/750/422/image.jpg"
        class="rounded-md w-[100px] h-[100px] group-hover:scale-105 transition-all"
        alt=""
      />
    </div>
    <span class="flex justify-center items-center font-semibold">Döner</span>
  </div>
  <div class="rounded-md bg-gray-100 p-1 w-fit group cursor-pointer shrink-0">
    <div class="inline-flex overflow-hidden">
      <img
        src="https://cdn.yemek.com/mnresize/1250/833/uploads/2022/03/ev-usulu-pizza-yemekcom.jpg"
        class="rounded-md w-[100px] h-[100px] group-hover:scale-105 transition-all"
        alt=""
      />
    </div>
    <span class="flex justify-center items-center font-semibold">Pizza</span>
  </div>
  <div class="rounded-md bg-gray-100 p-1 w-fit group cursor-pointer shrink-0">
    <div class="inline-flex overflow-hidden">
      <img
        src="https://cdn.getiryemek.com/restaurants/1618309789015_1125x522.jpeg"
        class="rounded-md w-[100px] h-[100px] group-hover:scale-105 transition-all"
        alt=""
      />
    </div>
    <span class="flex justify-center items-center font-semibold">Burger</span>
  </div>
  <div class="rounded-md bg-gray-100 p-1 w-fit group cursor-pointer shrink-0">
    <div class="inline-flex overflow-hidden">
      <img
        src="https://images.deliveryhero.io/image/fd-tr/LH/o5ue-hero.jpg?width=512&height=384&quality=45"
        class="rounded-md w-[100px] h-[100px] group-hover:scale-105 transition-all"
        alt=""
      />
    </div>
    <span class="flex justify-center items-center font-semibold">Sushi</span>
  </div>
  <div class="rounded-md bg-gray-100 p-1 w-fit group cursor-pointer shrink-0">
    <div class="inline-flex overflow-hidden">
      <img
        src="https://image.milimaj.com/i/milliyet/75/0x412/609a555d55427f0a548a5f57.jpg"
        class="rounded-md w-[100px] h-[100px] group-hover:scale-105 transition-all"
        alt=""
      />
    </div>
    <span class="flex justify-center items-center font-semibold">Tatlı</span>
  </div>
  <div class="rounded-md bg-gray-100 p-1 w-fit group cursor-pointer shrink-0">
    <div class="inline-flex overflow-hidden">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjpbhov4sub1W86ppVbQ9QfrBUrlCk88dsTnoIJw5FlQ&s"
        class="rounded-md w-[100px] h-[100px] group-hover:scale-105 transition-all"
        alt=""
      />
    </div>
    <span class="flex justify-center items-center font-semibold"
      >Çiğ Köfte</span
    >
  </div>
  <div class="rounded-md bg-gray-100 p-1 w-fit group cursor-pointer shrink-0">
    <div class="inline-flex overflow-hidden">
      <img
        src="https://cdn.yemek.com/mnresize/1250/833/uploads/2022/09/10-dakikada-peynirli-borek-onecikan.jpg"
        class="rounded-md w-[100px] h-[100px] group-hover:scale-105 transition-all"
        alt=""
      />
    </div>
    <span class="flex justify-center items-center font-semibold">Börek</span>
  </div>
</section>
