<h1 class="text-3xl font-semibold mb-3">Mutfaklar</h1>
<section class="flex gap-x-3 overflow-x-auto">
  <div
    *ngFor="let categoryDetail of categoryDetails"
    [routerLink]="'category/' + categoryDetail.category"
    class="rounded-md bg-gray-100 w-fit group cursor-pointer shrink-0"
  >
    <div class="inline-flex overflow-hidden">
      <img
        [src]="
          categoryDetail.categoryImage
            ? path + categoryDetail.categoryImage.imagePath
            : path + 'default.jpg'
        "
        class="rounded-md w-[100px] h-[100px] group-hover:scale-105 transition-all"
        alt=""
      />
    </div>
    <span class="flex justify-center items-center font-semibold"
      >{{ categoryDetail.category.name }}
    </span>
  </div>
</section>
