<footer class="shadow-lg mt-96 rounded-t-md bg-slate-100 p-5">
  <div
    class="grid mx-auto w-full max-w-screen-lg items-center justify-between md:grid-cols-4 grid-cols-2 gap-y-10 md:gap-y-0"
  >
    <div class="flex flex-col gap-y-4 w-fit p-5 rounded-md">
      <a
        href=""
        class="underline underline-offset-4 hover:decoration-orange-600 hover:text-orange-600 transition-all"
      >
        Yardım Merkezi
      </a>
      <a
        href=""
        class="underline underline-offset-4 hover:decoration-orange-600 hover:text-orange-600 transition-all"
      >
        Çerez Politikası
      </a>
      <a
        href=""
        class="underline underline-offset-4 hover:decoration-orange-600 hover:text-orange-600 transition-all"
      >
        Kurumsal Site
      </a>
      <a
        href=""
        class="underline underline-offset-4 hover:decoration-orange-600 hover:text-orange-600 transition-all"
      >
        Toplum Hizmetleri
      </a>
    </div>
    <div class="flex flex-col gap-y-4 w-fit p-5 rounded-md">
      <a
        href=""
        class="underline underline-offset-4 hover:decoration-orange-600 hover:text-orange-600 transition-all"
      >
        Yardım Merkezi
      </a>
      <a
        href=""
        class="underline underline-offset-4 hover:decoration-orange-600 hover:text-orange-600 transition-all"
      >
        Çerez Politikası
      </a>
      <a
        href=""
        class="underline underline-offset-4 hover:decoration-orange-600 hover:text-orange-600 transition-all"
      >
        Kurumsal Site
      </a>
      <a
        href=""
        class="underline underline-offset-4 hover:decoration-orange-600 hover:text-orange-600 transition-all"
      >
        Toplum Hizmetleri
      </a>
    </div>
    <div class="flex flex-col gap-y-4 w-fit p-5 rounded-md">
      <a
        href=""
        class="underline underline-offset-4 hover:decoration-orange-600 hover:text-orange-600 transition-all"
      >
        Yardım Merkezi
      </a>
      <a
        href=""
        class="underline underline-offset-4 hover:decoration-orange-600 hover:text-orange-600 transition-all"
      >
        Çerez Politikası
      </a>
      <a
        href=""
        class="underline underline-offset-4 hover:decoration-orange-600 hover:text-orange-600 transition-all"
      >
        Kurumsal Site
      </a>
      <a
        href=""
        class="underline underline-offset-4 hover:decoration-orange-600 hover:text-orange-600 transition-all"
      >
        Toplum Hizmetleri
      </a>
    </div>
    <div class="flex flex-col gap-y-4 w-fit p-5 rounded-md">
      <a
        href=""
        class="underline underline-offset-4 hover:decoration-orange-600 hover:text-orange-600 transition-all"
      >
        Yardım Merkezi
      </a>
      <a
        href=""
        class="underline underline-offset-4 hover:decoration-orange-600 hover:text-orange-600 transition-all"
      >
        Çerez Politikası
      </a>
      <a
        href=""
        class="underline underline-offset-4 hover:decoration-orange-600 hover:text-orange-600 transition-all"
      >
        Kurumsal Site
      </a>
      <a
        href=""
        class="underline underline-offset-4 hover:decoration-orange-600 hover:text-orange-600 transition-all"
      >
        Toplum Hizmetleri
      </a>
    </div>
  </div>
  <div
    class="flex justify-between items-center border-t-2 border-orange-400 w-full mt-10 pt-5"
  >
    <div class="text-gray-500 text-sm grid">
      <a href="/" class="text-3xl font-extrabold text-orange-600 me-3">
        NeYesek
      </a>
      <span>
        Created By
        <a
          href="https://github.com/furkantaglik"
          class="ms-2 hover:text-red-500"
        >
          Furkan Tağlık
        </a>
      </span>
    </div>
    <div class="flex gap-x-3 items-center justify-center text-orange-600">
      <a
        href=""
        class="p-2 rounded-full border border-orange-400 group hover:bg-orange-100 hover:scale-105"
      >
        <lucide-icon name="instagram" class="my-icon"></lucide-icon>
      </a>
      <a
        href=""
        class="p-2 rounded-full border border-orange-400 group hover:bg-orange-100 hover:scale-105"
      >
        <lucide-icon
          name="facebook"
          class="my-icon group-hover:fill-orange-600"
        ></lucide-icon>
      </a>
      <a
        href=""
        class="p-2 rounded-full border border-orange-400 group hover:bg-orange-100 hover:scale-105"
      >
        <lucide-icon
          name="linkedin"
          class="my-icon group-hover:fill-orange-600"
        ></lucide-icon>
      </a>
    </div>
  </div>
</footer>
