<section
  [routerLink]="'restaurant/detail/' + restaurantDetail.restaurant.id"
  class="rounded-md border cursor-pointer group w-fit mx-auto"
>
  <div class="inline-flex overflow-hidden">
    <img
      [src]="
        restaurantDetail.restaurantImage
          ? path + restaurantDetail.restaurantImage.imagePath
          : path + 'default.jpg'
      "
      alt=""
      class="rounded-md h-[180px] inline-flex group-hover:scale-105 transition-all"
    />
  </div>
  <div class="p-2 w-full">
    <div class="flex justify-between items-center">
      <h3 class="text-md font-semibold">
        {{ restaurantDetail.restaurant.name }}
      </h3>
      <span class="text-xs text-gray-600">4.4 (300+)</span>
    </div>
    <div class="text-sm text-gray-600">
      <span>₺100 Minimum - Burger</span>
    </div>
    <div class="text-sm font-semibold text-gray-500 flex">
      <span class="flex justify-center items-center">
        <lucide-icon name="clock" class="my-icon w-4 h-4 me-1" /> 25 min - ₺8.99
        - Express
      </span>
    </div>
  </div>
</section>
