<section *ngIf="userDetail">
  <form
    [formGroup]="profileForm"
    class="grid md:grid-cols-2 gap-x-5 gap-y-3 border-black pb-4 border-b"
  >
    <h1 class="col-span-2 text-2xl font-semibold">Kişisel Bilgiler</h1>
    <div class="flex flex-col">
      <label for="firstName" class="font-bold ms-1"> İsim </label>
      <input
        type="text"
        id="firstName"
        placeholder=""
        formControlName="firstName"
        [placeholder]="userDetail.user.firstName"
        required
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500"
      />
    </div>
    <div class="flex flex-col">
      <label for="lastName" class="font-bold ms-1"> Soyisim </label>
      <input
        type="text"
        id="lastName"
        placeholder=""
        formControlName="lastName"
        [placeholder]="userDetail.user.lastName"
        required
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500"
      />
    </div>
    <div class="flex flex-col">
      <label for="email" class="font-bold ms-1"> Email </label>
      <input
        type="text"
        id="email"
        placeholder=""
        formControlName="email"
        [placeholder]="userDetail.user.email"
        required
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500"
      />
    </div>
    <div class="flex flex-col">
      <label for="telNo" class="font-bold ms-1"> Tel No </label>
      <input
        type="text"
        id="telNo"
        placeholder=""
        formControlName="telNo"
        [placeholder]="userDetail.user.telNo"
        required
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500"
      />
    </div>
    <div class="flex flex-col">
      <label for="adress" class="font-bold ms-1"> Adres</label>
      <input
        type="text"
        id="adress"
        placeholder=""
        formControlName="adress"
        [placeholder]="userDetail.user.adress"
        required
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500"
      />
    </div>
    <div class="flex flex-col col-span-2">
      <button
        (click)="save()"
        class="bg-orange-400 hover:bg-orange-500 md:w-32 p-2 mt-6 rounded-md font-semibold"
      >
        Kaydet
      </button>
    </div>
  </form>
  <!-- <form class="grid md:grid-cols-2 gap-x-5 gap-y-3">
    <h1
      class="col-span-2 text-2xl font-semibold mt-10 underline underline-offset-8"
    >
      Şifre
    </h1>
    <div class="flex flex-col">
      <label for="oldPass" class="font-bold ms-1"> Eski Şifre </label>
      <input
        type="text"
        id="oldPass"
        placeholder=""
        formControlName="oldPass"
        required
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500"
      />
    </div>
    <div class="flex flex-col">
      <label for="newPass" class="font-bold ms-1"> Yeni Şifre </label>
      <input
        type="text"
        id="newPass"
        placeholder=""
        formControlName="newPass"
        required
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500"
      />
    </div>
    <div class="flex flex-col col-span-2">
      <button
        class="bg-orange-400 hover:bg-orange-500 md:w-32 p-2 mt-6 rounded-md font-semibold"
      >
        Kaydet
      </button>
    </div>
  </form> -->
</section>
