<section class="grid grid-cols-12 w-full relative lg:gap-x-5">
  <div
    class="lg:col-span-3 lg:block lg:relative md:top-0"
    [ngClass]="
      filterBar ? 'block z-10 top-20 absolute col-span-12 w-full' : 'hidden'
    "
  >
    <app-filterbar></app-filterbar>
  </div>
  <!-- Home -->
  <section
    class="relative rounded-md shadow-xl col-span-12 lg:col-span-9 lg:px-3"
  >
    <app-searchbar></app-searchbar>
    <button (click)="setFilterBar()" class="absolute right-10 top-5 lg:hidden">
      <lucide-icon name="sliders-horizontal" class="my-cion"></lucide-icon>
    </button>
    <section class="flex flex-col gap-y-10 pb-20">
      <app-campaignlist />
      <app-kitchenlist />
      <app-restaurantlist />
    </section>
  </section>
</section>
