<section>
  <form class="grid md:grid-cols-2 gap-x-5 gap-y-3">
    <h1 class="col-span-2 text-2xl font-semibold underline underline-offset-4">
      Restoran Bilgileri
    </h1>
    <div class="flex flex-col">
      <label for="name" class="font-bold ms-1"> Restoran Adı </label>
      <input
        type="text"
        id="name"
        placeholder=""
        formControlName="name"
        required
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500"
      />
    </div>
    <div class="flex flex-col">
      <label for="Email" class="font-bold ms-1"> Email </label>
      <input
        type="text"
        id="Email"
        placeholder=""
        formControlName="Email"
        required
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500"
      />
    </div>
    <div class="flex flex-col">
      <label for="telNo" class="font-bold ms-1"> Tel No </label>
      <input
        type="text"
        id="telNo"
        placeholder=""
        formControlName="telNo"
        required
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500"
      />
    </div>
    <div class="flex flex-col">
      <label for="adress" class="font-bold ms-1"> Adres</label>
      <input
        type="text"
        id="adress"
        placeholder=""
        formControlName="adress"
        required
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500"
      />
    </div>
    <div class="flex flex-col">
      <label for="image" class="font-bold ms-1"> Resim</label>
      <input
        type="file"
        formControlName="image"
        id="image"
        class="rounded-md text-sm border cursor-pointer file:cursor-pointer border-orange-500 bg-white file:bg-gray-800 file:text-white text-gray-800 file:border-0 file:p-2 file:font-semibold"
      />
    </div>
    <div class="flex flex-col col-span-2">
      <button
        class="bg-orange-400 hover:bg-orange-500 md:w-32 p-2 mt-6 rounded-md font-semibold"
      >
        Kaydet
      </button>
    </div>
  </form>
  <form class="grid md:grid-cols-2 gap-x-5 gap-y-3">
    <h1
      class="col-span-2 text-2xl font-semibold mt-10 underline underline-offset-8"
    >
      Şifre
    </h1>
    <div class="flex flex-col">
      <label for="oldPass" class="font-bold ms-1"> Eski Şifre </label>
      <input
        type="text"
        id="oldPass"
        placeholder=""
        formControlName="oldPass"
        required
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500"
      />
    </div>
    <div class="flex flex-col">
      <label for="newPass" class="font-bold ms-1"> Yeni Şifre </label>
      <input
        type="text"
        id="newPass"
        placeholder=""
        formControlName="newPass"
        required
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500"
      />
    </div>
    <div class="flex flex-col col-span-2">
      <button
        class="bg-orange-400 hover:bg-orange-500 md:w-32 p-2 mt-6 rounded-md font-semibold"
      >
        Kaydet
      </button>
    </div>
  </form>
</section>
