<section *ngIf="restaurantDetail">
  <div class="font-semibold text-sm mb-5 md:block hidden">
    <a href="/" class="text-orange-500 hover:decoration-2 transition-all"
      >AnaSayfa</a
    >
    >
    <a href=""> {{ restaurantDetail.restaurant.name }}</a>
  </div>
  <div class="border-b pb-5">
    <div
      class="grid grid-cols-12 justify-center items-center md:gap-x-5 gap-x-3"
    >
      <div class="col-span-3 md:col-span-2 container">
        <img
          [src]="
            restaurantDetail.restaurantImage
              ? restaurantPath + restaurantDetail.restaurantImage.imagePath
              : restaurantPath + 'default.jpg'
          "
          [alt]="restaurantDetail.restaurant.name"
          class="w-full rounded-md md:h-[130px] h-[100px]"
        />
      </div>
      <div class="col-span-9">
        <div>
          <span
            *ngFor="let category of restaurantDetail.categories"
            class="text-md text-gray-600"
            >{{ category.name }} -
          </span>
          <h1 class="text-3xl font-semibold justify-between flex items-center">
            {{ restaurantDetail.restaurant.name }}
          </h1>
        </div>
        <div class="font-semibold flex items-center gap-x-1 text-sm md:mt-5">
          <lucide-icon name="bike" class="my-icon w-4 h-4" />
          {{
            restaurantDetail.restaurant.deliveryFee === 0
              ? "Ücretsiz"
              : "₺" + restaurantDetail.restaurant.deliveryFee
          }}
          -
          <lucide-icon name="shoppingCart" class="my-icon w-4 h-4" />
          Minimum ₺{{ restaurantDetail.restaurant.minCartAmount }}
        </div>
        <div class="flex items-center justify-between">
          <div class="flex justify-center items-center">
            <lucide-icon name="star" class="my-icon w-4 h-4 fill-orange-500" />
            3.9 (300+)
            <button
              (click)="openCommentModal()"
              class="p-1 text-orange-600 rounded-md transition-all font-semibold hover:bg-orange-100"
            >
              Yorumlar
            </button>
            -
            <button
              (click)="openAboutModal()"
              class="p-1 text-orange-600 rounded-md transition-all font-semibold hover:bg-orange-100"
            >
              Hakkında
            </button>
          </div>
          <button
            *ngIf="isUser()"
            (click)="addFavorite()"
            class="text-sm flex justify-center items-center gap-x-1 md:p-1  text-orange-600 transition-all md:border-orange-400 md:border rounded-md md:hover:bg-orange-200 md:hover:border-orange-500"
          >
            <lucide-icon
              name="heart"
              [ngClass]="isFavorite() ? 'text-lime-500 ' : 'fill-none'"
            />
            <span class="md:block hidden">@if (isFavorite()) {Kaldır} @else if (!isFavorite()) {Favorile}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Yorumlar -->
  <div
    *ngIf="commentModal"
    class="fixed inset-0 flex justify-center md:items-center items-end z-20"
    (click)="openCommentModal()"
  >
    <section
      class="bg-white p-4 rounded shadow-lg z-10"
      (click)="$event.stopPropagation()"
    >
      <app-comments></app-comments>
    </section>
    <div class="absolute inset-0 bg-black bg-opacity-30"></div>
  </div>
  <!-- Hakkında -->
  <div
    *ngIf="aboutModal"
    class="fixed inset-0 flex justify-center md:items-center items-end z-20"
    (click)="openAboutModal()"
  >
    <section
      class="bg-white p-4 rounded shadow-lg z-10"
      (click)="$event.stopPropagation()"
    >
      <app-about></app-about>
    </section>
    <div class="absolute inset-0 bg-black bg-opacity-30"></div>
  </div>

  <!-- ürünler -->
  <nav class="border-b flex gap-x-5">
    <a
    (click)="scrollToElement('menus')"
      class="hover:bg-orange-100 p-2 rounded-md cursor-pointer border-b-2   hover:border-orange-500"
    >
      <h1 class="font-semibold">Menüler</h1>
    </a>
    <a
    (click)="scrollToElement('products')"
      class="hover:bg-orange-100 p-2 rounded-md cursor-pointer border-b-2 hover:border-orange-500"
    >
      <h1 class="font-semibold">ürünler</h1>
    </a>
    <div
      class="hover:bg-orange-100 p-2 rounded-md cursor-pointer border-b-2 hover:border-orange-500"
    >
      <h1 class="font-semibold">Neyesek Özel Menüler</h1>
    </div>
    <div
      class="hover:bg-orange-100 p-2 rounded-md cursor-pointer border-b-2 hover:border-orange-500"
    >
      <h1 class="font-semibold">CocoCola Menüleri</h1>
    </div>
    <div
      class="hover:bg-orange-100 p-2 rounded-md cursor-pointer border-b-2 hover:border-orange-500"
    >
      <h1 class="font-semibold">Tatlılar</h1>
    </div>
  </nav>
  <section id="menus"  class="grid grid-cols-1 md:grid-cols-2 gap-5">
    <h1 class="text-2xl font-semibold  md:col-span-2 col-span-1">Menüler</h1>
      <div
      *ngFor="let menuDetail of menuDetails"
      class="grid grid-cols-3 gap-x-2 justify-between border  group relative border-gray-400 hover:bg-orange-100 cursor-pointer transition-all bg-white rounded-md p-2"
    >
      <div class="col-span-2">
        <h3 class="text-lg font-semibold">{{ menuDetail.menu.name }}</h3>
        <h5 class="text-md font-semibold">
          ₺ {{ menuDetail.menu.totalPrice }}
        </h5>
        <p class="text-sm">
          {{ menuDetail.menu.description }}
        </p>
      </div>
      <div class="w-full h-full col-span-1">
        <img
          [src]="
            menuDetail.menuImage
              ? menuPath + menuDetail.menuImage.imagePath
              : menuPath + 'default.jpg'
          "
          alt=""
          class="rounded-md object-cover h-[100px] w-full"
        />
      </div>
    </div>
  </section>
  <section id="products" class="grid grid-cols-1 md:grid-cols-2 gap-5">
    <h1 class="text-2xl font-semibold  md:col-span-2 col-span-1">Yemekler</h1>
      <div
      *ngFor="let productDetail of productDetails"
      class="grid grid-cols-3 gap-x-2 justify-between border  group relative border-gray-400 hover:bg-orange-100 cursor-pointer transition-all bg-white rounded-md p-2"
    >
      <div class="col-span-2">
        <h3 class="text-lg font-semibold">{{ productDetail.product.name }}</h3>
        <h5 class="text-md font-semibold">
          ₺ {{ productDetail.product.unitPrice }}
        </h5>
        <p class="text-sm">
          {{ productDetail.product.description }}
        </p>
      </div>
      <div class="w-full h-full col-span-1">
        <img
          [src]="
            productDetail.productImage
              ? productPath + productDetail.productImage.imagePath
              : productPath + 'default.jpg'
          "
          alt=""
          class="rounded-md object-cover h-[100px] w-full"
        />
      </div>
    </div>
  </section>
</section>
