<section *ngIf="restaurantDetail">
  <form
    (ngSubmit)="save()"
    [formGroup]="profileForm"
    class="grid md:grid-cols-2 gap-x-5 gap-y-3 border-b justify-between items-center border-black pb-4"
  >
    <h1 class="col-span-2 text-2xl font-semibold">Restoran Bilgileri</h1>
    <div class="flex flex-col">
      <label for="name" class="font-bold ms-1"> Restoran Adı </label>
      <input
        type="text"
        id="name"
        formControlName="name"
        [placeholder]="restaurantDetail.restaurant.name"
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500 w-fit md:w-full"
      />
    </div>
    <div class="flex flex-col">
      <label for="email" class="font-bold ms-1"> Email </label>
      <input
        type="email"
        id="email"
        formControlName="email"
        [placeholder]="restaurantDetail.restaurant.email"
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500 w-fit md:w-full"
      />
    </div>
    <div class="flex flex-col">
      <label for="telNo" class="font-bold ms-1"> Tel No </label>
      <input
        type="text"
        id="telNo"
        formControlName="telNo"
        [placeholder]="restaurantDetail.restaurant.telNo"
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500 w-fit md:w-full"
      />
    </div>
    <div class="flex flex-col">
      <label for="adress" class="font-bold ms-1"> Adres</label>
      <input
        type="text"
        id="adress"
        formControlName="adress"
        [placeholder]="restaurantDetail.restaurant.adress"
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500 w-fit md:w-full"
      />
    </div>
    <div class="flex flex-col">
      <label for="minCartAmount" class="font-bold ms-1">
        Minimum Tutar (₺)</label
      >
      <input
        type="text"
        id="minCartAmount"
        formControlName="minCartAmount"
        [placeholder]="restaurantDetail.restaurant.minCartAmount"
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500 w-fit md:w-full"
      />
    </div>
    <div class="flex flex-col">
      <label for="deliveryTime" class="font-bold ms-1">
        Teslimat Süresi (dakika)
      </label>
      <input
        type="text"
        id="deliveryTime"
        formControlName="deliveryTime"
        [placeholder]="restaurantDetail.restaurant.deliveryTime"
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500 w-fit md:w-full"
      />
    </div>
    <div class="flex flex-col">
      <label for="deliveryFee" class="font-bold ms-1">
        Teslimat Ücreti (₺)</label
      >
      <input
        type="text"
        id="deliveryFee"
        formControlName="deliveryFee"
        [placeholder]="restaurantDetail.restaurant.deliveryFee"
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500 w-fit md:w-full"
      />
    </div>
    <div class="flex flex-col md:w-full w-52">
      <label for="image" class="font-bold ms-1"> Resim</label>
      <input
        type="file"
        id="image"
        (change)="onFileSelected($event)"
        class="rounded-md text-sm border cursor-pointer file:cursor-pointer border-orange-500 bg-white file:bg-gray-800 file:text-white text-gray-800 file:border-0 file:p-2 file:font-semibold"
      />
    </div>

    <div
      class="flex flex-col items-center col-span-2 justify-center mt-6 group relative"
    >
      <img
        *ngIf="restaurantDetail.restaurantImage"
        [src]="
          restaurantDetail.restaurantImage
            ? path + restaurantDetail.restaurantImage.imagePath
            : path + 'default.jpg'
        "
        [alt]="restaurantDetail.restaurant.name"
        class="rounded-md w-[400px] h-[300px]"
      />
      <div
        class="md:hidden absolute flex group-hover:flex justify-center w-full gap-x-5 bottom-5"
      >
        <button
          *ngIf="restaurantDetail.restaurantImage"
          (click)="deleteImage()"
          class="rounded-md bg-slate-700 px-5 py-1 text-red-500 font-semibold"
        >
          <lucide-icon name="trash2" />
        </button>
      </div>
    </div>
    <div class="flex flex-col col-span-2">
      <button
        type="submit"
        class="bg-orange-400 hover:bg-orange-500 md:w-32 w-full p-2 mt-6 rounded-md font-semibold"
      >
        Kaydet
      </button>
    </div>
  </form>
  <!-- <form class="grid md:grid-cols-2 gap-x-5 gap-y-3">
    <h1
      class="col-span-2 text-2xl font-semibold mt-10 underline underline-offset-8"
    >
      Şifre
    </h1>
    <div class="flex flex-col">
      <label for="oldPass" class="font-bold ms-1"> Eski Şifre </label>
      <input
        type="text"
        id="oldPass"
        placeholder=""
        formControlName="oldPass"
        required
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500"
      />
    </div>
    <div class="flex flex-col">
      <label for="newPass" class="font-bold ms-1"> Yeni Şifre </label>
      <input
        type="text"
        id="newPass"
        placeholder=""
        formControlName="newPass"
        required
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500"
      />
    </div>
    <div class="flex flex-col col-span-2">
      <button
        class="bg-orange-400 hover:bg-orange-500 md:w-32 p-2 mt-6 rounded-md font-semibold"
      >
        Kaydet
      </button>
    </div>
  </form> -->
</section>
