<section class="rounded-md bg-gray-100 md:w-[400px]">
  <div class="flex justify-between items-center bg-white rounded-md p-3">
    <h1 class="text-2xl font-semibold">Tadında Döner</h1>

    <button
      class="text-orange-500 font-semibold text-2xl px-2 border pb-1 hover:bg-orange-100 shadow-lg rounded-full bg-white flex items-center justify-center"
    >
      <span>x</span>
    </button>
  </div>
  <div class="mt-5 p-3 grid grid-cols-1 gap-y-3">
    <div>
      <h1 class="text-lg font-semibold">Restoran Bilgisi</h1>
      <p>
        *Bu restoranın adres ve onaylanmış telefon bilgileri Yemeksepetinde
        bulunmaktadır. KEP Adresi: MERSIS No:
      </p>
    </div>
    <div>
      <h1 class="text-lg font-semibold">Ödeme Yöntemleri</h1>
      <p>
        Cüzdan, Online Kredi Kartı/Banka Kartı, Nakit, Kapıda Temassız Kartla
        Ödeme, Ticket Restaurant Online
      </p>
    </div>
    <div>
      <h1 class="text-lg font-semibold">Teslimat Ücreti</h1>
      <p>
        Teslimat ücreti, mesafeye ve günün hangi saati olduğuna göre belirlenir.
      </p>
    </div>
    <div>
      <h1 class="text-lg font-semibold">Minimum sepet tutarı</h1>
      <p>
        Bu restoran 90,00 TL'den daha düşük tutarlı siparişleri kabul
        etmemektedir.
      </p>
    </div>
  </div>
</section>
