<section
  class="grid grid-cols-3 gap-x-2 justify-between border hover:scale-105 border-gray-400 hover:bg-orange-100 cursor-pointer transition-all bg-white rounded-md p-2"
>
  <div class="col-span-2">
    <h3 class="text-lg font-semibold">Tavuk dürüm</h3>
    <h5 class="text-md font-semibold">₺ 150</h5>
    <p class="text-sm">
      100 gr. tavuk döner. İsteğe göre kıvırcık marul, domates, ketçap, mayonez,
    </p>
  </div>
  <div class="w-full h-full col-span-1">
    <img
      src="https://cdn.yemek.com/mnresize/1250/833/uploads/2022/03/ev-usulu-pizza-yemekcom.jpg"
      alt=""
      class="rounded-md object-cover"
    />
  </div>
</section>
