<section
  class="grid grid-cols-3 gap-x-2 justify-between border hover:scale-105 border-gray-400 hover:bg-orange-100 cursor-pointer transition-all bg-white rounded-md p-2"
>
  <div class="col-span-2">
    <h3 class="text-lg font-semibold">{{ productDetail.product.name }}</h3>
    <h5 class="text-md font-semibold">
      ₺ {{ productDetail.product.unitPrice }}
    </h5>
    <p class="text-sm">
      {{ productDetail.product.description }}
    </p>
  </div>
  <div class="w-full h-full col-span-1">
    <img
      [src]="
        productDetail.productImage
          ? path + productDetail.productImage.imagePath
          : path + 'default.jpg'
      "
      alt=""
      class="rounded-md object-cover h-[100px] w-full"
    />
  </div>
</section>
