<section *ngIf="restaurantDetail?.products">
  <form
    [formGroup]="productForm"
    (submit)="save()"
    class="grid grid-cols-2 gap-x-5 gap-y-3 justify-between items-center mb-5"
  >
    <h1 class="text-2xl font-semibold col-span-2">Yeni ürün</h1>
    <div class="flex flex-col">
      <label for="name" class="font-bold ms-1"> Ürün adı </label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500 w-fit md:w-full"
      />
    </div>
    <div class="flex flex-col">
      <label for="unitPrice" class="font-bold ms-1"> Ürün fiyatı </label>
      <input
        type="number"
        id="unitPrice"
        formControlName="unitPrice"
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500 w-fit md:w-full"
      />
    </div>
    <div class="flex flex-col">
      <label for="unitsInStock" class="font-bold ms-1"> Stok adedi </label>
      <input
        type="number"
        id="unitsInStock"
        formControlName="unitsInStock"
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500 w-fit md:w-full"
      />
    </div>
    <div class="flex flex-col">
      <label for="description" class="font-bold ms-1"> Açıklama </label>
      <input
        type="text"
        id="description"
        formControlName="description"
        class="p-2 rounded-md border border-orange-500 focus:outline-orange-500 w-fit md:w-full"
      />
    </div>
    <div class="flex flex-col md:w-full w-52">
      <label for="image" class="font-bold ms-1"> Ürün görseli</label>
      <input
        type="file"
        id="image"
        (change)="onFileSelected($event)"
        class="rounded-md text-sm border cursor-pointer file:cursor-pointer border-orange-500 bg-white file:bg-gray-800 file:text-white text-gray-800 file:border-0 file:p-2 file:font-semibold"
      />
    </div>
    <button
      type="submit"
      class="rounded-md py-1 bg-orange-400 hover:bg-orange-500 font-semibold px-5 mt-6 w-full"
    >
      Ekle
    </button>
  </form>
  <div
    class="grid md:grid-cols-2 gap-x-5 gap-y-3 justify-between items-center mb-5"
  >
    <h1 class="text-2xl font-semibold col-span-2">Mevcut ürünler</h1>
    <section
      *ngFor="let productDetail of productDetails"
      class="grid grid-cols-3 gap-x-2 justify-between border hover:scale-105 group relative border-gray-400 hover:bg-orange-100 cursor-pointer transition-all bg-white rounded-md p-2"
    >
      <div class="col-span-2">
        <h3 class="text-lg font-semibold">{{ productDetail.product.name }}</h3>
        <h5 class="text-md font-semibold">
          ₺ {{ productDetail.product.unitPrice }}
        </h5>
        <p class="text-sm">
          {{ productDetail.product.description }}
        </p>
      </div>
      <div class="w-full h-full col-span-1">
        <img
          [src]="
            productDetail.productImage
              ? path + productDetail.productImage.imagePath
              : path + 'default.jpg'
          "
          alt=""
          class="rounded-md object-cover h-[100px] w-full"
        />
      </div>
      <div class="md:hidden group-hover:block absolute bottom-2 right-3">
        <button
          (click)="deleteProduct(productDetail)"
          class="bg-gray-300 p-1 rounded-md"
        >
          <lucide-icon class="w-5 h-5 text-red-500" name="trash2" />
        </button>
      </div>
    </section>
  </div>
</section>
